body {
  font-family: 'Hind', sans-serif;
  padding: 20px 60px;
}

@media screen and (max-width: 800px) {
  body {
    padding: 5px;
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}