.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    transition: transform .2s; /* Animation */
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }

  .custom-button {
    position: absolute;
    top: 255px;
    opacity: 0.9;
    width: 80%;
    display: none;
  }

  &:hover {
    .image {
      transform: scale(1.05); // zoom
      opacity: 0.75;
    }

    .custom-button {
      display: inline;
    }
  }
}